{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": 0,
    "arrow-body-style": 0,
    "arrow-parens": 0,
    "object-curly-newline": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-indent": 0,
    "import/prefer-default-export": 0,
    "react/jsx-one-expression-per-line": 0,
    "import/no-extraneous-dependencies": 0,
    "default-case": 0
  },
  "plugins": ["jest"],
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "overrides": [
    {
      "files": ["**/src/**"],
      "settings": { "import/resolver": "webpack" }
    },
    {
      "files": ["**/__tests__/**"],
      "rules": {
        "react/prop-types": 0,
        "jsx-a11y/click-events-have-key-events": 0,
        "jsx-a11y/no-static-element-interactions": 0
      }
    }
  ]
}
