{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "arrow-body-style": 0,
    "arrow-parens": 0,
    "object-curly-newline": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-indent": 0,
    "import/prefer-default-export"
  }
}
